#topbox{width:100%;height:272px;background:url(../images/apply/applybg.png);}
#top{width:1200px;height:272px;margin:0 auto;position:relative;}
#apply_icon{position:absolute;left:455px;top:19px;}
#apply_icon1{position:absolute;left:104px;top:44px;}
#apply_icon2{position:absolute;left:355px;top:44px;}
#apply_icon3{position:absolute;left:589px;top:44px;}
#apply_icon4{position:absolute;left:840px;top:44px;}
#apply_icon5{position:absolute;left:210px;bottom:0;}
#apply_icon6{position:absolute;left:461px;bottom:0;}
#apply_icon7{position:absolute;right:461px;bottom:0;}
#apply_icon8{position:absolute;right:226px;bottom:0;}

/*登录等界面背景*/
.login{
	width:1208px;
	height:479px;
	margin:0 auto;
	padding-top:128px;
	position:relative;
	background:url(../images/login_bg.png) no-repeat;
	font-family:"微软雅黑";
	font-size:12px;
	color:#6b6b6b;
	}
/*登录等界面背景end*/

/*申请入驻step1*/
#apply_icon5{position:absolute;left:210px;bottom:0;}
/*小头像*/
#login_icon1{position:absolute;left:494px;top:140px;}
/*小锁*/
#login_icon2{position:absolute;left:494px;top:170px;}
/*用户名及密码输入框*/
#usename,#password{
	background:#f2f4f4;
	border-radius:5px;
	height:16px;
	width:193px;
	position:absolute;
	left:519px;
	border:1px solid #f2f4f4;
	}
#usename{top:140px;}
#password{top:170px;}
#password1{position:absolute;top:172px;_top:170px;left:724px;}
/*记住密码、忘记密码*/
.password2{
	position:absolute;
	top:170px;
	left:740px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#6b6b6b;
	}
.password2 a{
    text-decoration:none;
	font-family:"微软雅黑";
	font-size:12px;
	color:#6b6b6b;
    }
#verification_code{
	background:#f2f4f4;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	height:16px;
	width:102px;
	position:absolute;
	left:519px;
	top:199px;
	border:1px solid #f2f4f4;
	}
/*验证码图*/
#code{position:absolute;left:621px;top:199px;}
/*登录*/
#login_icon3{
	position:absolute;
	left:519px;
	top:230px;
	background:url(../images/login_icon3.png);
	width:195px;
	height:18px;
	border-radius:5px;
	border:0px;
	outline:medium;
	}
/*使用qq登录、注册*/
.login4{position:absolute;left:714px;top:230px;}
.login4 a{
	text-decoration:none;
	font-family:"微软雅黑";
	font-size:12px;
	color:#6b6b6b;
	}

/*申请入驻step1-end*/

/*申请入驻step2*/
.lline{width:600px;height:18px;margin-top:12px;margin-left:307px;}
.lline2 input,.lline3 input,.lline4 input{
	border-radius:5px;
	border:1px solid #f2f4f4;
	background:#f2f4f4;
	width:218px;
	height:16px;
	margin-left:13px;}
.lline1{padding-left:149px;}
.lline1 span{float:left;}
.lline1 input{margin:2px 0 0 13px;_margin:0 0 0 13px;float:left;}
.lline2,.lline3{padding-left:173px;}
.lline4{padding-left:137px;}
.lline5{padding-left:7px;}
.lline5 span,.lline5 input,.lline5 label{float:left;}
.lline5 a{text-decoration:none;color:#6b6b6b;}
.lline5 input{margin-left:17px;}
#agree{margin-right:10px;margin-top:2px;_margin-top:0px;}
#auth{
	border-radius:5px;
	border:0px;
	background:url(../images/login/login_pic.png) no-repeat 0 -381px;
	width:220px;
	height:18px;
	outline:medium;
	_margin-left:-62px;}
/*申请入驻step2-end*/

/*申请入驻step3*/
.createshop{
	width:1208px;
	height:2028px;
	margin:0 auto;
	position:relative;
	background:url(../images/cs_bg.png);
	}
.createshop span{font-family:"微软雅黑";font-size:12px;color:#6b6b6b;letter-spacing:1px;}
#service_type{position:absolute;top:113px;left:341px;}
#tp{position:absolute;left:414px;top:113px;}
#shop_name span{position:absolute;top:142px;left:341px;}
#shop_name input{
	position:absolute;
	top:140px;
	left:414px;
    border-radius:5px;
	border:1px solid #f2f4f4;
	background:#f2f4f4;
	width:218px;
	height:16px;
	}
#introduction span{position:absolute;top:172px;left:341px;}
#introduction textarea{
	position:absolute;
	top:170px;
	left:414px;
    border-radius:5px;
	border:1px solid #f2f4f4;
	background:#f2f4f4;
	width:558px;
	height:100px;
	}
#address{position:absolute;top:289px;left:355px;width:480px;}
#address input{
    border-radius:5px;
	border:1px solid #f2f4f4;
	background:#f2f4f4;
	width:58px;
	height:16px;
	margin:0 4px;
	}
#add1{position:absolute;top:0px;left:50px;margin:0 4px;}
#add2{position:absolute;top:0px;left:130px;margin:0 4px;}
#add3{position:absolute;top:0px;left:210px;margin:0 4px;}
#add4{position:absolute;top:0px;left:313px;margin:0 4px;}
#add4 input{width:120px;}
#specific_add span{position:absolute;top:321px;left:343px;}
#specific_add input{
	position:absolute;
	top:319px;
	left:413px;
    border-radius:5px;
	border:1px solid #f2f4f4;
	background:#f2f4f4;
	}
#map span{position:absolute;top:349px;left:252px;}
#map input{
	position:absolute;
	top:349px;
	left:414px;
    border-radius:5px;
	border:1px solid #f2f4f4;
	background:#f2f4f4;
	width:558px;
	height:160px;
	}
#upload{position:absolute;top:529px;left:300px;}
#upload img{position:absolute;top:0px;left:115px;}
#telephone span{position:absolute;top:650px;left:354px}
#telephone input{
	position:absolute;
	top:650px;
	left:414px;
	border-radius:5px;
	border:1px solid #f2f4f4;
	background:#f2f4f4;
	width:158px;
	height:16px;
	}
#mobilephone span{position:absolute;top:680px;left:354px;}
#mobilephone input{
	position:absolute;
	top:680px;
	left:414px;
	border-radius:5px;
	border:1px solid #f2f4f4;
	background:#f2f4f4;
	width:158px;
	height:16px;
	}
#verify span{position:absolute;top:710px;left:354px;}
#verify input{
	position:absolute;
	top:710px;
	left:414px;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	border:1px solid #f2f4f4;
	background:#f2f4f4;
	width:80px;
	height:16px;
	}
#verify img{position:absolute;top:710px;left:495px;}
#submit{
	position:absolute;
	top:740px;
	left:414px;
	background:url(../images/submit.png);
	width:160px;
	height:18px;
	border:0px;
	}
/*申请入驻step3-end*/

/*申请入驻step4*/
.pay img{position:absolute;top:140px;left:494px;}
#pay{
	position:absolute;
	top:170px;
	left:494px;
	width:105px;
	height:18px;
	border:0px;
	background:url(../images/pay.png);
	}
#no-pay{
	position:absolute;
	top:170px;
	left:609px;
	width:105px;
	height:18px;
	border:0px;
	background:url(../images/no-pay.png);
	}
/*申请入驻step4-end*/