@charset "utf-8";
/*我的频道的头部*/
#top{
	width:1200px;
	height:193px;
	margin:0 auto;
	position:relative;
	top:0px;
	background:url(../images/channel/channel_tbg.png);
	}
#portrait{
	position:absolute;
	left:550px;
	top:59px;
	width:102px;
	height:102px;
	border-radius:50%;
	background:url(../images/channel/portrait.png);
	}
#username{
	position:absolute;
	left:48%;
	top:82%;
	font-family:Arial;
	font-size:12px;
	color:#fff;
	}
/*我的频道的头部end*/

/*侧边栏*/
#sidebarbox{
	width:170px;
	height:auto;
	text-align:center;
	position:relative;
	float:left;
	}
div.sdmenu{width:170px;margin:0 auto;font-family:微软雅黑;font-size:14px;padding-bottom:40px;color:#fff;}
div.sdmenu div{background:url(../images/channel/bar_title2.png);overflow:hidden;}
div.sdmenu div.collapsed{height:38px;}
div.sdmenu div span{
	display:block;
	height:15px;
	line-height:15px;
	overflow:hidden;
	padding:11px 10px;
	font-weight:bold;
	color:white;
	cursor:pointer;
	border-bottom:1px solid #d2d2d2;}
div.sdmenu div.collapsed .smenu{background-image:url(../images/channel/collapsed.gif);}
div.sdmenu div .smenu{background:url(../images/channel/expanded.gif) no-repeat 150px center;}
div.sdmenu div a{
	padding:5px 10px;
	background:#eee;
	display:block;
	border-bottom:1px solid #d2d2d2;
	border-top:1px solid #fff;
	color:#87898a;}
div.sdmenu div a:hover{background:#f466a6 url(../images/channel/linkarrow.gif) no-repeat right center;color:#fff;text-decoration:none;}
div.sdmenu div span a{background:none;border:none;height:15px;line-height:15px;color:#fff;padding:0px;}
div.sdmenu div span a:hover{background:none;}
/*侧边栏end*/

/*作品信息首页*/
#container{width:1030px;position:relative;background:#fff;height:2000px;float:right;}
#container11{width:1200px;position:relative;background:#fff;height:2000px;}
#message{
	margin-top:66px;
	margin-left:80px;
	width:870px;
	height:18px;
	border-bottom:1px solid #c1c3c4;
	}
table{border-spacing:0;clear:both;}
th{width:172px;height:30px;font-family:"微软雅黑";font-size:14px;color:#fff;}
#t1{background:url(../images/channel/th-bg1.png);}
#t2{background:url(../images/channel/th-bg2.png);}
#t3{background:url(../images/channel/th-bg3.png);}
#t4{background:url(../images/channel/th-bg4.png);}
#t5{background:url(../images/channel/th-bg5.png);}
#t6{background:url(../images/channel/th-bg6.png);}
td{
	width:172px;
	height:45px;
	text-align:center;
	font-family:"微软雅黑";
	font-size:14px;
	color:#87898a;}
.head{
	margin: 62px auto auto 80px;
	border-bottom: 1px solid #c1c3c4;
	width: 870px;
	height: 21px;
	font-family: "微软雅黑";
	color: #000001;
	margin-bottom:27px;
    }
/*作品信息end*/

/*店铺信息*/
#container input{border:1px solid #333;}
#container .text{width:200px;float:left;margin:40px auto auto 180px;}
#container .text li{width:200px;height:30px;list-style:none;text-align:right;}
#container .futu{margin-top:200px;}
#container .input {width:600px;float:left;margin:40px auto auto 10px;}
#container .input li{height:30px;list-style:none;text-align:left;}
#container .box{border:1px solid #000;width:200px;height:200px;margin-right:10px;float:left;}
#container .bb{margin:0 10px 10px 0;width:250px;float:left;}
#saveinfo{margin:30px auto auto 400px;}
/*店铺信息end*/

/*人员信息*/
#container .works{margin-top:200px;}
#works{height:250px;width:280px;border:1px solid #000;position:absolute;top:480px;left:390px;}
#works div{border:1px solid #000;width:60px;height:60px;}
#work1{position:absolute;top:0px;left:0px;}
#w1{position:absolute;left:14px;top:0px;}
#work2{position:absolute;top:0px;left:90px;}
#w2{position:absolute;left:104px;top:0px;}
#work3{position:absolute;top:0px;left:180px;}
#w3{position:absolute;left:194px;top:0px;}
#work4{position:absolute;top:70px;left:0px;}
#w4{position:absolute;left:14px;top:70px;}
#work5{position:absolute;top:70px;left:90px;}
#w5{position:absolute;left:104px;top:70px;}
#work6{position:absolute;top:70px;left:180px;}
#w6{position:absolute;left:194px;top:70px;}
#work7{position:absolute;top:140px;left:0px;}
#w7{position:absolute;left:14px;top:140px;}
#work8{position:absolute;top:140px;left:90px;}
#w8{position:absolute;left:104px;top:140px;}
#work9{position:absolute;top:140px;left:180px;}
#w9{position:absolute;left:194px;top:140px;}
#saveinfo1{position:absolute;top:780px;left:390px;}
/*人员信息end*/

/*店铺主页*/
.shopIndex{width:1200px;position:relative;background:#fff;height:auto;min-height:2000px;overflow:hidden;}

.shopIndex #picbox{
	width:728px;height:290px;
	border-right:1px solid #eaeced;
	border-bottom:1px solid #eaeced;
	float:left;
	margin:10px auto 44px 10px;
	}
.shopIndex #picbox img{margin:0px 90px 23px 0px;width:634px;height:270px;}
.shopIndex #shopinfo{float:left;border-bottom:1px solid #eaeced;width:454px;height:157px;color:#535455;}
.shopIndex #shopinfo li{height:16px;width:300px;}
.shopIndex #shopinfo li a{text-decoration: none;color:#535455;margin-right:10px;}
.shopIndex #shopinfo li span{padding:0px 8px;border-left:1px solid #535455;}
.shopIndex #qq{
	margin:19px 0px auto 72px;
	border-radius:5px;
	float:left;
	border:0px;
	}
.shopIndex #workAct{
	width:454px;
	height:142px;
	float:left;
	border-bottom:1px solid #eaeced;
	margin-bottom:44px;
	}

/*选项卡式导航*/
#title {height: 50px;width:194px;float:left;margin-left:10px;font-family:"微软雅黑";font-size:12px;}
#title li {
list-style-type: none;
height: 50px;
line-height: 50px;
text-align: left;
border-right:1px solid #eaeced;
border-top:1px solid #eaeced;
width:194px;
}
#title a {
text-decoration: none;
color: #232525;;
display: block;
width: 194px;
}
#title .selectli1 {
text-decoration: none;
color: #232525;
display: block;
width: 194px;
}
 #title a .selectspan1 {
display: block;
color:#8e45e0;
}
 #title .selectli2 {
text-decoration: none;
color: #232525;
display: block;
width: 194px;
}
 #title a .selectspan2 {
display: block;
color:#8e45e0;
}
 #title .selectli3 {
text-decoration: none;
color: #232525;
display: block;
width: 194px;
}
 #title a .selectspan3 {
display: block;
color:#8e45e0;
}
#title .selectli4 {
text-decoration: none;
color: #232525;
display: block;
width: 194px;
}
 #title a .selectspan4 {
display: block;
color:#8e45e0;
}

 #content{width:969px;height:auto;border-top:1px solid #eaeced;border-left:1px solid #eaeced;float:left;
 font-family:"微软雅黑";font-size:12px;color:#232525;}
 #content ul {margin: 10px;}
 #content li {margin: 5px; }
 #content li img {margin: 5px;display:block;}
 #content {
height: auto;
padding: 10px;
}
.hidecontent {display:none;}
/*选项卡式导航end*/

#content1 p{margin:10px 12px auto 15px;padding-bottom:10px;color:#abadae;border-bottom:1px solid #eaeced;}
#content1 .map{margin-top:30px;}
#caodan{height: 400px;width:941px;} 
#content2 *{margin:0px;padding:0px;}
#content2 .workinfo img{height: 400px;width:960px;margin:10px 0px;} 
#content2 .workinfo p{margin:10px 12px 10px 10px;color:#abadae;}
#content3 table{width:900px;margin-top:30px;border-collapse:collapse;}
#content3 .name{width:968px;height:44px;line-height:44px;background:#eaeced;color:#87898a;}
#content3 .name span{margin:auto 20px;}
#content3 .assess{border:1px solid #eaeced;height:68px;}
#content3 .assess span{margin-left:18px;line-height:30px;}
#content3 .assess p{width:78px;height:68px;line-height:68px;float:right;border-left:1px solid #eaeced;padding-left:30px;color:#ec058c;}
#content4 table{width:900px;margin-top:30px;}
#content4 td{width:225px;height:40px;text-align:center;border-right:1px solid #eaeced;}
#content4 .uname, #content4 .details, #content4 .dealtime{height:42px;background:#eaeced;color:#87898a;}
#content4 .uname, #content4 .details{border-right:1px solid #fff;}

/*店铺主页end*/

/*评价*/
.comment{width:250px;height:60px;line-height:60px;text-align:center;font-size:14px;float:left;border:1px solid #000;margin:0px auto 20px 5px;}
/*评价end*/

/*申请退出*/
#agr{position:absolute;top:500px;left:120px;font-size:14px;}
#agr input{margin:0px 5px;}
#agr label{margin-right:280px;}
#quit1{position:absolute;top:550px;left:700px;}
/*申请退出end*/

