@charset "utf-8";
/*我的频道的头部*/
#top{
	width:1200px;
	height:193px;
	margin:0 auto;
	position:relative;
	top:0px;
	background:url(../images/channel/channel_tbg.png);
	}
#portrait{
	position:absolute;
	left:550px;
	top:59px;
	width:102px;
	height:102px;
	border-radius:50%;
	background:url(../images/channel/portrait.png);
	}
#username{
	position:absolute;
	left:48%;
	top:82%;
	font-family:Arial;
	font-size:12px;
	color:#fff;
	}
/*我的频道的头部end*/

/*侧边栏*/
#sidebarbox{
	width:170px;
	height:auto;
	text-align:center;
	position:relative;
	float:left;
	}
div.sdmenu{width:170px;margin:0 auto;font-family:微软雅黑;font-size:14px;padding-bottom:40px;color:#fff;}
div.sdmenu div{background:url(../images/channel/bar_title2.png);overflow:hidden;}
div.sdmenu div.collapsed{height:38px;}
div.sdmenu div span{
	display:block;
	height:15px;
	line-height:15px;
	overflow:hidden;
	padding:11px 10px;
	font-weight:bold;
	color:white;
	cursor:pointer;
	border-bottom:1px solid #d2d2d2;}
div.sdmenu div.collapsed .smenu{background-image:url(../images/channel/collapsed.gif);}
div.sdmenu div .smenu{background:url(../images/channel/expanded.gif) no-repeat 150px center;}
div.sdmenu div a{
	padding:5px 10px;
	background:#eee;
	display:block;
	border-bottom:1px solid #d2d2d2;
	border-top:1px solid #fff;
	color:#87898a;}
div.sdmenu div a:hover{background:#f466a6 url(../images/channel/linkarrow.gif) no-repeat right center;color:#fff;text-decoration:none;}
div.sdmenu div span a{background:none;border:none;height:15px;line-height:15px;color:#fff;padding:0px;}
div.sdmenu div span a:hover{background:none;}
/*侧边栏end*/

/*作品信息首页*/
#container{width:1030px;position:relative;background:#fff;height:2000px;float:right;}
#container11{width:1200px;position:relative;background:#fff;height:2000px;}
#message{
	margin-top:66px;
	margin-left:80px;
	width:870px;
	height:18px;
	border-bottom:1px solid #c1c3c4;
	}
table{border-spacing:0;clear:both;}
th{width:172px;height:30px;font-family:"微软雅黑";font-size:14px;color:#fff;}
#t1{background:url(../images/channel/th-bg1.png);}
#t2{background:url(../images/channel/th-bg2.png);}
#t3{background:url(../images/channel/th-bg3.png);}
#t4{background:url(../images/channel/th-bg4.png);}
#t5{background:url(../images/channel/th-bg5.png);}
#t6{background:url(../images/channel/th-bg6.png);}
td{
	width:172px;
	height:45px;
	text-align:center;
	font-family:"微软雅黑";
	font-size:14px;
	color:#87898a;}
.head{
	margin: 62px auto auto 80px;
	border-bottom: 1px solid #c1c3c4;
	width: 870px;
	height: 21px;
	font-family: "微软雅黑";
	color: #000001;
	margin-bottom:27px;
    }
/*作品信息end*/



/*人员信息*/
#container .works{margin-top:200px;}
#works{height:250px;width:280px;border:1px solid #000;position:absolute;top:480px;left:390px;}
#works div{border:1px solid #000;width:60px;height:60px;}
#work1{position:absolute;top:0px;left:0px;}
#w1{position:absolute;left:14px;top:0px;}
#work2{position:absolute;top:0px;left:90px;}
#w2{position:absolute;left:104px;top:0px;}
#work3{position:absolute;top:0px;left:180px;}
#w3{position:absolute;left:194px;top:0px;}
#work4{position:absolute;top:70px;left:0px;}
#w4{position:absolute;left:14px;top:70px;}
#work5{position:absolute;top:70px;left:90px;}
#w5{position:absolute;left:104px;top:70px;}
#work6{position:absolute;top:70px;left:180px;}
#w6{position:absolute;left:194px;top:70px;}
#work7{position:absolute;top:140px;left:0px;}
#w7{position:absolute;left:14px;top:140px;}
#work8{position:absolute;top:140px;left:90px;}
#w8{position:absolute;left:104px;top:140px;}
#work9{position:absolute;top:140px;left:180px;}
#w9{position:absolute;left:194px;top:140px;}
#saveinfo1{position:absolute;top:780px;left:390px;}
/*人员信息end*/

/*店铺主页*/
#picbox{width:400px;height:250px;margin:0px 80px 30px 50px;text-align:center;padding-top:70px;border:1px solid #000;float:left;}
#shopinfo{font-family:"微软雅黑";font-size:14px;}
#shopinfo li{height:30px;width:700px;}
#shopinfo li a{text-decoration: none;color:#000;margin-right:10px;}
#shopinfo input{margin-right:20px;}
/*选项卡式导航*/
#contain {
width: 760px;
height: auto;
border:1px solid #000;
padding: 20px;
position:absolute;
top:380px;
left:30px;
}
#contain1 {width:960px;}
#title {
height: 28px;
}
 #title li {
float: left;
list-style-type: none;
height: 28px;
line-height: 28px;
text-align: center;
margin-right: 1px;
}
 #title ul {
background-color: #FFFFFF;
height: 28px;
}
 #title a {
text-decoration: none;
color: #000000;
display: block;
width: auto;
background: #F09 url(/texiao/tab_selected_left_bk2.gif) no-repeat left -29px;
}
 #title a span{
display: block;
background: url(/texiao/tab_selected_right_bk2.gif) no-repeat right -29px;
padding: 0 15px 0 15px;
}
 #title #tag1 a:hover {
text-decoration: none;
color: #ffffff;
display: block;
width: auto;
background: #C0F url(/texiao/tab_selected_left_bk2.gif) no-repeat left -87px;
}
 #title #tag1 a:hover span{
display: block;
background: url(/texiao/tab_selected_right_bk2.gif) no-repeat right -87px;
padding: 0 15px 0 15px;
}
 #title #tag2 a:hover {
text-decoration: none;
color: #ffffff;
display: block;
width: auto;
background: #C0F url(/texiao/tab_selected_left_bk2.gif) no-repeat left 0px;
}
 #title #tag2 a:hover span{
display: block;
background: url(/texiao/tab_selected_right_bk2.gif) no-repeat right 0px;
padding: 0 15px 0 15px;
}
 #title #tag3 a:hover {
text-decoration: none;
color: #ffffff;
display: block;
width: auto;
background:#C0F url(/texiao/tab_selected_left_bk2.gif) no-repeat left -58px;
}
 #title #tag3 a:hover span{
display: block;
background: url(/texiao/tab_selected_right_bk2.gif) no-repeat right -58px;
padding: 0 15px 0 15px;
}
 #title #tag4 a:hover {
text-decoration: none;
color: #ffffff;
display: block;
width: auto;
background:#C0F url(/texiao/tab_selected_left_bk2.gif) no-repeat left -145px;
}
 #title #tag4 a:hover span{
display: block;
background: url(/texiao/tab_selected_right_bk2.gif) no-repeat right -145px;
padding: 0 15px 0 15px;
}
 #title #tag5 a:hover {
text-decoration: none;
color: #ffffff;
display: block;
width: auto;
background:#C0F url(/texiao/tab_selected_left_bk2.gif) no-repeat left -174px;
}
#contain #title #tag5 a:hover span{
display: block;
background: url(/texiao/tab_selected_right_bk2.gif) no-repeat right -174px;
padding: 0 15px 0 15px;
}
 #title .selectli1 {
text-decoration: none;
color: #ffffff;
display: block;
width: auto;
background:#6C6 url(/texiao/tab_selected_left_bk2.gif) no-repeat left -87px;
}
 #title a .selectspan1 {
display: block;
background: url(/texiao/tab_selected_right_bk2.gif) no-repeat right -87px;
padding: 0 15px 0 15px;
}
 #title .selectli2 {
text-decoration: none;
color: #ffffff;
display: block;
width: auto;
background:#6C6 url(/texiao/tab_selected_left_bk2.gif) no-repeat left 0px;
}
 #title a .selectspan2 {
display: block;
background: url(/texiao/tab_selected_right_bk2.gif) no-repeat right 0px;
padding: 0 15px 0 15px;
}
 #title .selectli3 {
text-decoration: none;
color: #ffffff;
display: block;
width: auto;
background:#6C6 url(/texiao/tab_selected_left_bk2.gif) no-repeat left -58px;
}
 #title a .selectspan3 {
display: block;
background: url(/texiao/tab_selected_right_bk2.gif) no-repeat right -58px;
padding: 0 15px 0 15px;
}
#title .selectli4 {
text-decoration: none;
color: #ffffff;
display: block;
width: auto;
background:#6C6 url(/texiao/tab_selected_left_bk2.gif) no-repeat left -145px;
}
 #title a .selectspan4 {
display: block;
background: url(/texiao/tab_selected_right_bk2.gif) no-repeat right -145px;
padding: 0 15px 0 15px;
}
 #title .selectli5 {
text-decoration: none;
color: #ffffff;
display: block;
width: auto;
background:#6C6 url(/texiao/tab_selected_left_bk2.gif) no-repeat left -174px;
}
 #title a .selectspan5 {
display: block;
background: url(/texiao/tab_selected_right_bk2.gif) no-repeat right -174px;
padding: 0 15px 0 15px;
}
 #content ul {margin: 10px;}
 #content li {margin: 5px; }
 #content li img {margin: 5px;display:block;}
 #content {
height: auto;
padding: 10px;
}
.content1 {
border-top-width: 3px;
border-right-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #3A81C8;
border-right-color: #3A81C8;
border-bottom-color: #3A81C8;
border-left-color: #3A81C8;
background-color: #DFEBF7;
}
.content2 {
border-top-width: 3px;
border-right-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #ff950b;
border-right-color: #ff950b;
border-bottom-color: #ff950b;
border-left-color: #ff950b;
background-color: #FFECD2;
}
.content3 {
padding: 10px;
border-top-width: 3px;
border-right-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #FE74B8;
border-right-color: #FE74B8;
border-bottom-color: #FE74B8;
border-left-color: #FE74B8;
background-color: #FFECF5;
}
.content4 {
padding: 10px;
border-top-width: 3px;
border-right-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #00988B;
border-right-color: #00988B;
border-bottom-color: #00988B;
border-left-color: #00988B;
background-color: #E8FFFD;
}
.content5 {
padding: 10px;
border-top-width: 3px;
border-right-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #A8BC1F;
border-right-color: #A8BC1F;
border-bottom-color: #A8BC1F;
border-left-color: #A8BC1F;
background-color: #F7FAE2;
}
.hidecontent {display:none;}
/*选项卡式导航end*/
.workinfo{font-family:"微软雅黑";font-size:14px;margin:30px 0px;}
.workinfo img{float:left;margin-right:20px;}
.map{position:absolute;top:380px;right:50px;}
#caodan{
    height: 500px;
    width:300px;
    
  } 
/*店铺主页end*/

/*评价*/
.comment{width:250px;height:60px;line-height:60px;text-align:center;font-size:14px;float:left;border:1px solid #000;margin:0px auto 20px 5px;}
/*评价end*/

/*申请退出*/
#agr{position:absolute;top:500px;left:120px;font-size:14px;}
#agr input{margin:0px 5px;}
#agr label{margin-right:280px;}
#quit1{position:absolute;top:550px;left:700px;}
/*申请退出end*/

/*累计评价*/
.assess{padding:5px;}
#content3 table,#content4 table{margin-top:10px;}
/*累计评价end*/

/*累计成交量*/
.details{width:600px;}
/*累计成交量end*/

/*服务人员信息*/
.personinfo{font-family:"微软雅黑";font-size:14px;margin:30px 0px;}
.personinfo img{float:left;margin-right:20px;}