html {height:100%;}  
body{background:url(bg.jpg)no-repeat center; min-heigth:1000px; height:auto !important; height:100%;}
.image{width:855px;height:195px;background:url(../images/login.png)no-repeat center;position:fixed;bottom:50%;left:50%;margin-left:-427px;}
input{
	border:0;
	font-size:12px;	
}
.input_1{
	height:18px;width:267px;outline:none; vertical-align:middle;
	background:#909090;
	border-top:#a6a6a6;
	border-bottom:#2f2e30;
}
#textfield{
    position:absolute;
    top:107px;
    left:157px;
	}
#textfield2{
	position:absolute;
    bottom:36px;
    left:157px;
	}
#go{
	position:absolute;
    top:107px;
    left:472px;
	}
