/*********操作提示信息的样式*********/
#message {
	float:left;
	margin-left: 23px;
	width: 100%;
	height: 40px;
	line-height:40px;
	text-align:center;
	background-color: #FF9933;
	color: #FFFFFF;
	font-size:25px;
}