/* CSS Document */
body{background:url(../images/bg_login.png) repeat-x fixed left top #FFFFFF;background-size:100% 100%; font-family:Arial,Helvetica,sans-serif; font-size:12px;margin:0; padding:0; width:100%;  }
div, ul, dl, dt, dd, form, p, h1, h2, h3{ margin:0; padding:0;}
#LoginContent{ width:560px;margin-top:180px;}
.loginLogo{ width:103px; height:131px; background:url(../images/logo_login.png) no-repeat; margin-left:-440px;}
.loginArea{ border-left:2px solid #C0DCE8; width:419px; height:131px; float:right; margin-top:-131px;}
.loginCon{ width:385px; height:130px; margin-left:30px; border:1px solid #9BC1CA;background:url(../images/login.png) no-repeat center top;}
.loginFaceArea{ width:109px; height:99px; float:left;}
.loginFaceImg{ width:85px; height:84px; margin-top:15px; margin-left:13px;}
.loginFormArea{ width:276px; float:left;}
.loginFormUl{ margin-top:20px; list-style:none; margin-left:10px;}
.loginFormUl li{ margin-bottom:10px;}
.loginFormUl li a:link,.loginFormUl li a:visited{ text-decoration:none;}
.txt{ border:1px solid #B2BEC5; font-family:Arial,Helvetica,sans-serif; font-size:12px; height:19px; line-height:18px; width:193px;}
.btn{ width:64px; margin-left:10px; cursor:pointer;}